@model BusReserveSystem.Models.Ticket
<div class="container" id ="abtus">
  <div class="jumbotron">
    <h1 style ="text-align:center">We Care our Customers…</h1>
    <p>The goal of our company is to have customer service that is not just the best but legendary. The approaches in our customers have made a difference in our business. Winning with Customers has brought new life and energy to our selling approach.</p>
  </div>
       </div>
    <div class="container" id ="newcus">
  <h2>Ticket Status</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2">Ticket ID:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ticketID" placeholder="Enter Ticket ID" required/>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </form>
</div>


@{ViewBag.Title = "Cancel Ticket";}
@{ViewBag.Title = "Ticket Status";}
@section slide
{
<div>
<img u="image" src="~/img/1.jpg">
<img u="thumb" src="~/img/1.jpg">
</div>
<div>
<img u="image" src="~/img/2.jpg">
<img u="thumb" src="~/img/2.jpg">
</div>
<div>
<img u="image" src="~/img/3.jpg">
<img u="thumb" src="~/img/3.jpg">
</div>
<div>
<img u="image" src="~/img/4.jpg">
<img u="thumb" src="~/img/4.jpg">
</div>
<div>
<img u="image" src="~/img/5.jpg">
<img u="thumb" src="~/img/5.jpg">
</div>
<div>
<img u="image" src="~/img/6.jpg">
<img u="thumb" src="~/img/6.jpg">
</div>
<div>
<img u="image" src="~/img/7.jpg">
<img u="thumb" src="~/img/7.jpg">
</div>
<div>
<img u="image" src="~/img/8.jpg">
<img u="thumb" src="~/img/8.jpg">
</div>
<div>
<img u="image" src="~/img/9.jpg">
<img u="thumb" src="~/img/9.jpg">
</div>
    <div>
<img u="image" src="~/img/10.jpg">
<img u="thumb" src="~/img/10.jpg">
</div>
    <div>
<img u="image" src="~/img/11.jpg">
<img u="thumb" src="~/img/11.jpg">
</div>
 }
