@model BusReserveSystem.Models.Reservation


<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/Content/default.date.css" rel="stylesheet" />
<link href="~/Content/jquery.ui.datepicker.css" rel="stylesheet" />
<link href="~/Content/jquery.ui.datepicker.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>



   <div class="container" id ="abtus">
  <div class="jumbotron">
    <h1 style ="text-align:center">We Can Help…</h1>
    <p>MMM Reservation is a new way to manage your business that takes the hassle out of reservations & online payments.

Over 60% of visitors to your website are there to check pricing, availability and make a booking. 
34% of those are outside of normal business hours. Who’s getting the booking?</p>
  </div>
       </div>

    <div class="container" id ="newcus">
  <h2>Seat Reservation</h2>
    @using (Html.BeginForm("../Ticket/reserve2", "", FormMethod.Post, new { @class = "form-horizontal" }))
     {

      <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Bus:</label>
      <div class="col-sm-10">          
        <input type="text" disabled value ="@ViewBag.bus.Name" name ="bName" class="form-control" required/>
          
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">CNIC:</label>
      <div class="col-sm-10">          
          @Html.TextBoxFor(m => m.CNIC, new { @class = "form-control", placeholder = "CNIC No" , type = "text", required = "required"})
      </div>
    </div>

      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Source:</label>
      <div class="col-sm-10">
          <select class="form-control" name ="Source" id ="src" required>
              <option value="Gujrawala" >Gujrawala</option>
      
          <option value="Karachi" >Karachi</option>
      
          <option value="Lahore" >Lahore</option>
      
          <option value="Sialkot" >Sialkot</option>
      
          <option value="Islamabad" >Islamabad</option>

              <option value="Quetta" >Quetta</option>
</select>
          
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Destination:</label>
      <div class="col-sm-10">          
         <select class="form-control" name ="Destination" id ="des" required>
  <option value="Gujrawala" >Gujrawala</option>
      
          <option value="Karachi" selected ="selected">Karachi</option>
      
          <option value="Lahore" >Lahore</option>
      
          <option value="Sialkot" >Sialkot</option>
      
          <option value="Islamabad" >Islamabad</option>

              <option value="Quetta" >Quetta</option>
</select>
      </div>
    </div>

            
      <div class="form-group">
      <label class="control-label col-sm-2"  for="pwd">Date:</label>
      <div class="col-sm-10">          
        <input type="text" id ="datepicker" name ="Date" class="form-control" required/>
        <span id="VD"></span>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Time:</label>
      <div class="col-sm-10">          
        <select class="form-control" name ="TimeSlot" required>

            @foreach (var x in ViewBag.time)
            {
                <option>@x.TimeSlots</option>
            }
            
</select>
          
      </div>
    </div>
      <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Reserve</button>
      </div>
    </div>
   }
</div>
      <script type="text/javascript">
          $(document).ready(function () {

              $("#src").change(function () {
                  var val = $(this).val();
                  if (val == "Gujrawala") {
                      $("#des").html("<option value='Karachi' >Karachi</option><option value='Lahore' >Lahore</option><option value='Sialkot' >Sialkot</option><option value='Islamabad' >Islamabad</option><option value='Quetta' >Quetta</option>");
                  } else if (val == "Karachi") {
                      $("#des").html("<option value='Gujrawala' >Gujrawala</option><option value='Lahore' >Lahore</option><option value='Sialkot' >Sialkot</option><option value='Islamabad' >Islamabad</option><option value='Quetta' >Quetta</option>");

                  } else if (val == "Lahore") {
                      $("#des").html("<option value='Gujrawala' >Gujrawala</option><option value='Karachi' >Karachi</option><option value='Sialkot' >Sialkot</option><option value='Islamabad' >Islamabad</option><option value='Quetta' >Quetta</option>");
                  }
                  else if (val == "Sialkot") {
                      $("#des").html("<option value='Gujrawala' >Gujrawala</option><option value='Karachi' >Karachi</option><option value='Lahore' >Lahore</option><option value='Islamabad' >Islamabad</option><option value='Quetta' >Quetta</option>");
                  }
                  else if (val == "Islamabad") {
                      $("#des").html("<option value='Gujrawala' >Gujrawala</option><option value='Karachi' >Karachi</option><option value='Lahore' >Lahore</option><option value='Sialkot' >Sialkot</option><option value='Quetta' >Quetta</option>");
                  }
                  else if (val == "Quetta") {
                      $("#des").html("<option value='Gujrawala' >Gujrawala</option><option value='Karachi' >Karachi</option><option value='Lahore' >Lahore</option><option value='Sialkot' >Sialkot</option><option value='Islamabad' >Islamabad</option>");
                  }
              });
              
              $("#datepicker").datepicker();

          });
	</script>

@{ViewBag.Title = "New Ticket";}
@section slide
{
<div>
<img u="image" src="~/img/r1.jpg">
<img u="thumb" src="~/img/r1.jpg">
</div>
<div>
<img u="image" src="~/img/r2.jpg">
<img u="thumb" src="~/img/r2.jpg">
</div>
<div>
<img u="image" src="~/img/3.jpg">
<img u="thumb" src="~/img/3.jpg">
</div>
<div>
<img u="image" src="~/img/r3.png">
<img u="thumb" src="~/img/r3.png">
</div>
<div>
<img u="image" src="~/img/r4.gif">
<img u="thumb" src="~/img/r4.gif">
</div>
<div>
<img u="image" src="~/img/6.jpg">
<img u="thumb" src="~/img/6.jpg">
</div>
<div>
<img u="image" src="~/img/r5.gif">
<img u="thumb" src="~/img/r5.gif">
</div>
<div>
<img u="image" src="~/img/r6.jpg">
<img u="thumb" src="~/img/r6.jpg">
</div>
 }

