@model BusReserveSystem.Models.Bus
<div class="container" id ="abtus">
  <div class="jumbotron">
    <h1 style ="text-align:center">We Can Help…</h1>
    <p>MMM Reservation is a new way to manage your business that takes the hassle out of reservations & online payments.

Over 60% of visitors to your website are there to check pricing, availability and make a booking. 
34% of those are outside of normal business hours. Who’s getting the booking?</p>
  </div>
       </div>

    <div class="row"> 
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb1"> 
                <a href="~/img/1.jpg" target="_blank"><img src="~/img/1.jpg" alt="Generic placeholder thumbnail" id ="image1"/></a>
            </div>
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb2"> 
               
                <a href="~/img/111.jpg" target="_blank"><img src="~/img/111.jpg" alt="Generic placeholder thumbnail" id ="image2"/> </a>
                
                
            </div>
        </div> 
        <div class="col-sm-6 col-md-3" > 
            <div class="thumbnail" id ="thumb3"> 
                
                <a href="~/img/222.jpg" target="_blank"><img src="~/img/222.jpg" alt="Generic placeholder thumbnail" id ="image3"/> </a>
                
            </div>
        </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb4"> 
                
                <a href="~/img/333.jpg" target="_blank"><img src="~/img/333.jpg"  id ="image4"/> </a>
            </div>
        </div> 
        <br />
    <br />
    
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb5"> 
                <a href="~/img/2.jpg" target="_blank"><img src="~/img/2.jpg" alt="Generic placeholder thumbnail" id ="image5"/> </a>
            </div> 
            </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb6"> 
                <a href="~/img/101010.jpg" target="_blank"><img src="~/img/101010.jpg" alt="Generic placeholder thumbnail" id ="image6"/> </a>
            </div> 
            </div> 
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb7"> 
                <a href="~/img/121212.jpg" target="_blank"><img src="~/img/121212.jpg" alt="Generic placeholder thumbnail" id ="image7"/> </a>
            </div> 
            </div> 
        <br />
    <br />
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb8"> 
                <a href="~/img/3.jpg" target="_blank"><img src="~/img/3.jpg" alt="Generic placeholder thumbnail"  id ="image8"/> </a>
            </div> 
        </div>
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb9"> 
                <a href="~/img/777.jpg" target="_blank"><img src="~/img/777.jpg" alt="Generic placeholder thumbnail" id ="image9"/> </a>
            </div> 
            </div>
        <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail" id ="thumb10"> 
                <a href="~/img/999.jpg" target="_blank"><img src="~/img/999.jpg" alt="Generic placeholder thumbnail" id ="image10"/> </a>
            </div> 
            </div>
        <br />
    <br />

        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb11"> 
            <a href="~/img/4.jpg" target="_blank"><img src="~/img/4.jpg" alt="Generic placeholder thumbnail" id ="image11"/> </a>
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb12"> 
            <a href="~/img/191919.jpg" target="_blank"><img src="~/img/191919.jpg" alt="Generic placeholder thumbnail" id ="image12"/> </a>
                                        </div> 
        </div> 
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb13"> 
            <a href="~/img/202020.jpg" target="_blank"><img src="~/img/202020.jpg" alt="Generic placeholder thumbnail" id ="image13"/> </a>
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb14"> 
            <a href="~/img/222222.jpg" target="_blank"><img src="~/img/222222.jpg" alt="Generic placeholder thumbnail" id ="image14"/> </a>
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb16"> 
            <a href="~/img/212121.jpg" target="_blank"><img src="~/img/212121.jpg" alt="Generic placeholder thumbnail" id ="image16"/> </a>
                                        </div> 
        </div>
        <br />
    <br />

        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb17"> 
            <a href="~/img/5.jpg" target="_blank"><img src="~/img/5.jpg" alt="Generic placeholder thumbnail" id ="image17"/> </a>
        </div>
            </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb18"> 
            <a href="~/img/888.jpg" target="_blank"><img src="~/img/888.jpg" alt="Generic placeholder thumbnail" id ="image18"/> </a>
        </div>
            </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb19"> 
            <a href="~/img/111111.jpg" target="_blank"><img src="~/img/111111.jpg" alt="Generic placeholder thumbnail" id ="image19"/> </a>
        </div>
            </div>
        <br />
    <br />
        
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb20"> 
            <a href="~/img/6.jpg" target="_blank"><img src="~/img/6.jpg" alt="Generic placeholder thumbnail" id ="image20"/> </a>
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb21"> 
            <a href="~/img/444.jpg" target="_blank"><img src="~/img/444.jpg" alt="Generic placeholder thumbnail" id ="image21"/> </a>
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb22"> 
            <a href="~/img/555.jpg" target="_blank"><img src="~/img/555.jpg" alt="Generic placeholder thumbnail" id ="image22"/> </a>
                                        </div> 
        </div>
        <br />
    <br />
        
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb23"> 
            <a href="~/img/7.jpg" target="_blank"><img src="~/img/7.jpg" alt="Generic placeholder thumbnail" id ="image23"/></a> 
                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb24"> 
            <a href="~/img/141414.jpg" target="_blank"><img src="~/img/141414.jpg" alt="Generic placeholder thumbnail" id ="image24"/></a> 
                                        </div> 
        </div>
        <br />
    <br />
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb25"> 
            <a href="~/img/8.jpg" target="_blank"><img src="~/img/8.jpg" alt="Generic placeholder thumbnail" id ="image25"/></a> 

                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb26"> 
            <a href="/img/131313.jpg" target="_blank"><img src="/img/131313.jpg" alt="Generic placeholder thumbnail" id ="image26"/></a> 

                                        </div> 
        </div>
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb27"> 
            <a href="~/img/666.jpg" target="_blank"><img src="~/img/666.jpg" alt="Generic placeholder thumbnail" id ="image27"/></a> 

                                        </div> 
        </div>
        <br />
    <br />
        <div class="col-sm-6 col-md-3"> <div class="thumbnail" id ="thumb28"> 
            <a href="~/img/666.jpg" target="_blank"><img src="~/img/666.jpg" alt="Generic placeholder thumbnail" id ="image28"/></a> 

                                        </div> 
        </div>     
    </div>

@section hover
{
    <script>
        $(document).ready(function () {
                    $("#thumb1").mouseover(function () {
                        $("#image1").fadeOut()
                    }).mouseout(function () {
                        $("#image1").fadeIn()
                    });
                    $("#thumb2").mouseover(function () {
                        $("#image2").fadeOut()
                    });
                    $("#thumb2").mouseout(function () {
                        $("#image2").fadeIn()
                    });
                    $("#thumb3").mouseover(function () {
                        $("#image3").fadeOut()
                    });
                    $("#thumb3").mouseout(function () {
                        $("#image3").fadeIn()
                    });

                    $("#thumb4").mouseover(function () {
                        $("#image4").fadeOut()
                    });
                    $("#thumb4").mouseout(function () {
                        $("#image4").fadeIn()
                    });

                    $("#thumb5").mouseover(function () {
                        $("#image5").fadeOut()
                    });
                    $("#thumb5").mouseout(function () {
                        $("#image5").fadeIn()
                    });

                    $("#thumb6").mouseover(function () {
                        $("#image6").fadeOut()
                    });
                    $("#thumb6").mouseout(function () {
                        $("#image6").fadeIn()
                    });

                    $("#thumb7").mouseover(function () {
                        $("#image7").fadeOut()
                    });
                    $("#thumb7").mouseout(function () {
                        $("#image7").fadeIn()
                    });

                    $("#thumb8").mouseover(function () {
                        $("#image8").fadeOut()
                    });
                    $("#thumb8").mouseout(function () {
                        $("#image8").fadeIn()
                    });

                    $("#thumb9").mouseover(function () {
                        $("#image9").fadeOut()
                    });
                    $("#thumb9").mouseout(function () {
                        $("#image9").fadeIn()
                    });

                    $("#thumb10").mouseover(function () {
                        $("#image10").fadeOut()
                    });
                    $("#thumb10").mouseout(function () {
                        $("#image10").fadeIn()
                    });

                    $("#thumb11").mouseover(function () {
                        $("#image11").fadeOut()
                    });
                    $("#thumb11").mouseout(function () {
                        $("#image11").fadeIn()
                    });

                    $("#thumb12").mouseover(function () {
                        $("#image12").fadeOut()
                    });
                    $("#thumb12").mouseout(function () {
                        $("#image12").fadeIn()
                    });

                    $("#thumb13").mouseover(function () {
                        $("#image13").fadeOut()
                    });
                    $("#thumb13").mouseout(function () {
                        $("#image13").fadeIn()
                    });

                    $("#thumb14").mouseover(function () {
                        $("#image14").fadeOut()
                    });
                    $("#thumb14").mouseout(function () {
                        $("#image14").fadeIn()
                    });

                    $("#thumb15").mouseover(function () {
                        $("#image15").fadeOut()
                    });
                    $("#thumb15").mouseout(function () {
                        $("#image15").fadeIn()
                    });

                    $("#thumb16").mouseover(function () {
                        $("#image16").fadeOut()
                    });
                    $("#thumb16").mouseout(function () {
                        $("#image16").fadeIn()
                    });

                    $("#thumb17").mouseover(function () {
                        $("#image17").fadeOut()
                    });
                    $("#thumb17").mouseout(function () {
                        $("#image17").fadeIn()
                    });
        });
    </script>
    }
@{ViewBag.Title = "View";}
@section s1{
<style>
.thumbnail
            {
                width: 300px;
                height: 240px;
                overflow: auto;
            }
    #thumbnail
            {
                width: 300px;
                height: 240px;
                overflow: auto;
            }
    img
    {
        width: 300px;
                height: 240px;
                overflow: auto;
    }
    </style>
}
@section slide
{
<div>
<img u="image" src="~/img/1.jpg">
<img u="thumb" src="~/img/1.jpg">
</div>
<div>
<img u="image" src="~/img/2.jpg">
<img u="thumb" src="~/img/2.jpg">
</div>
<div>
<img u="image" src="~/img/3.jpg">
<img u="thumb" src="~/img/3.jpg">
</div>
<div>
<img u="image" src="~/img/4.jpg">
<img u="thumb" src="~/img/4.jpg">
</div>
<div>
<img u="image" src="~/img/5.jpg">
<img u="thumb" src="~/img/5.jpg">
</div>
<div>
<img u="image" src="~/img/6.jpg">
<img u="thumb" src="~/img/6.jpg">
</div>
<div>
<img u="image" src="~/img/7.jpg">
<img u="thumb" src="~/img/7.jpg">
</div>
<div>
<img u="image" src="~/img/8.jpg">
<img u="thumb" src="~/img/8.jpg">
</div>
<div>
<img u="image" src="~/img/9.jpg">
<img u="thumb" src="~/img/9.jpg">
</div>
    <div>
<img u="image" src="~/img/10.jpg">
<img u="thumb" src="~/img/10.jpg">
</div>
    <div>
<img u="image" src="~/img/11.jpg">
<img u="thumb" src="~/img/11.jpg">
</div>
 }